* {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 40px;

    height: 7vh;

    background-color: #eff7fa;

    box-shadow: 0 0 5px black;

    z-index: 10;
}

nav > #logo-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;

    background-color: aliceblue; 
}
nav > #logo-group > img#logo-pic {
    object-fit: scale-down;
    height: 7vh;

    filter: hue-rotate(-20deg);
}
nav > span.nav-btn {
    color: #606060;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
nav > span.nav-btn:hover {
    /* background-color: #fff; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    background: linear-gradient(45deg, #00ba81 33%, #00a672 66%, #069268);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #00ba81; */

    color: #fff;
    cursor: pointer;
}

nav > #profile-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: 30px;
}
nav > #profile-group > img#notification-btn {
    height: 3vh;
    margin-right: 30px;
    border-radius: 90px;
    padding: 5px;
    filter: brightness(0) saturate(100%) invert(39%) sepia(1%) saturate(1213%) hue-rotate(322deg) brightness(86%) contrast(77%);
}
nav > #profile-group > img#notification-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #00ba81 33%, #00a672 66%, #069268);
    filter: none;
}
nav > #profile-group > #profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}
nav > #profile-group > #profile > #profile-name {
    color: #606060;
}
nav > #profile-group > #profile > #profile-arrow-wrapper {
    height: 3vh;
    width: 3vh;
}
nav > #profile-group > #profile > #profile-arrow-wrapper > #profile-arrow {
    height: 3vh;
    rotate: -90deg;
    filter: brightness(0) saturate(100%) invert(39%) sepia(1%) saturate(1213%) hue-rotate(322deg) brightness(86%) contrast(77%);

    transition: all 0.2s ease;
}
nav > #profile-group > #profile:hover {
    cursor: pointer;
}
nav > #profile-group > #profile:hover #profile-arrow {
    cursor: pointer;
    transform: scaleX(-1);
}
nav > #profile-group > #profile:hover #profile-dropdown {
    top: -7vh;
    z-index: 5;
}

#profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    height: 230px;
    width: 200px;

    top: calc(-7vh - 120px);
    z-index: -1;

    transition: all 0.2s ease;
}
#profile-dropdown > .buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 100px;
    width: 200px;

    background-color: #fff;
    border-radius: 10px;

    box-shadow: 0 0 16px black;
}
#profile-dropdown > .buttons-wrapper > span {
    border-radius: 5px;
    padding: 5px 0 5px 0;
    width: 90%;
    text-align: center;
}
#profile-dropdown > .buttons-wrapper > span:hover {
    color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
#profile-dropdown > .buttons-wrapper > #profile-btn:hover {
    background: linear-gradient(45deg, #00ba81 33%, #00a672 66%, #069268);
}
#profile-dropdown > .buttons-wrapper > #logout-btn:hover {
    background: linear-gradient(45deg, #ff3232 33%, #da0d0d 66%, #bd0000);
}