* {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 40px;

    height: 7vh;

    background-color: #eff7fa;
}

nav > #logo-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;

    background-color: aliceblue; 
}
nav > #logo-group > img#logo-pic {
    object-fit: scale-down;
    height: 5vh;
}
nav > span.nav-btn {
    color: #808080;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
nav > span.nav-btn:hover {
    /* background-color: #fff; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    background: linear-gradient(45deg, #00ba81 33%, #00a672 66%, #069268);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #00ba81; */

    color: #fff;
}

nav > #profile-group {

}
nav > #profile-group > img#notification-btn {
    height: 5vh;
}