/* MAIN PAGE */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border: 0 solid;
}
body {
    font-family: 'Montserrat', sans-serif;
}
div {
    width: 100%;
}
p {
    text-align: center;
}
input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: auto;
    height: 70%;
    border: 1px solid #dad7d7;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}
.main-container {
    position: absolute;
    height: 100vh;
    z-index: -100;
}

/* FORM CONTAINER */
.login-wrapper {
    top: 50%;
    transform: translate(0, -50%);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    padding: 0 5%;
    z-index: 100;
}

.login-container {
    position: relative;
    height: 100%;
    width: 33%;
}

.login-outer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5%;
    position: absolute;
    background-color: #00b79682;
    border: 15px solid rgba(255, 255, 255, 0.7);
    border-radius: 10%;
    height: 90%;
    width: 100%;
}

.login-outer>div {
    width: 100%;
}

.text-container {
    color: white;
    position: relative;
    height: 20%;
}

.text-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#project_name {
    font-weight: 700;
    font-size: 46px;
}

/* FORM DESIGN */
.login-form {
    width: 50%;
    height: 20%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.submit-group {
    height: 25%;
}

.input-group .input-wrap {
    margin: 0 auto;
    width: 60%;
    height: 50%;
}

.submit-group .input-wrap {
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

.submit-group button {
    width: 50%;
}

.others-group {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.others-group .input-wrap {
    width: 49%;
    height: 100%;
}

/* BACKGROUND DECORATION */
.deco-wrapper {
    background: linear-gradient(180deg, rgba(0, 203, 191, 1) 0%, rgba(165, 255, 239, 1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: -1;
}
.waves {
    opacity: 0.5;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 34%;
    overflow: hidden;
    z-index: -1;
}
.waves img {
    max-width: 100%;
    position: absolute;
    z-index: -1;
}
.sand {
    position: absolute;
    background-color: #FFF6E9;
    top: 50%;
    width: 100%;
    height: 50%;
    z-index: -2;
}

/* BUTTONS */
.submit-group input {
    border-color: #CBFFEF;
    background-color: #CBFFEF;
}

.others-group input {
    color: white;
    border-color: #00977C;
    background-color: #00977C;
    font-size: 15px;
}
